<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<div class="simple-calendar shadow-lg rounded">
  <div class="calendar-heading flex flex-wrap-wrap justify-between items-center">
    <div class="bg-indigo border border-b-4 border-indigo-dark hover:bg-indigo-light font-semibold mb-3">
      <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, {:class => "btn text-white font-semibold block my-2 "} %>
    </div>
    <span class="calendar-title documentation-section-title leading-tight text-xl"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <div class="bg-indigo border text-white border-b-4 border-indigo-dark hover:bg-indigo-light font-semibold mb-3">
      <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, {:class => "btn text-white font-semibold block my-2 "} %>
    </div>
  </div>

  <table class="table table-stripped table-bordered table-auto items-center justify-center">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="bg-indigo text-white font-semibold"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr class="hover:antialiased text-white">
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day), :class => "hover:bg-indigo-light border border-b-3 border-indigo-dark " do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <span class="text-black"><% block.call day.strftime("%d"), sorted_events.fetch(day, []) %></span>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
